<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Friends are awesome</h2>
    <h3>By Aman</h3>
    <a href="/friends" class="btn">Check Submissions</a>
  </div>
</header>


<%- include('partials/footer'); -%>